# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# gui builds
gui/build
gui/.qtcreator

# CMake cache and output
**/CmakeFiles
**/.cache
**/petri-editor_autogen
**/CMakeCache.txt
**/compile_commands.json
**/cmake_install.cmake
**/.cmake
gui/Testing/Temporary
**/qtcsettings.cmake
**/CMakeLists.txt.user
**/CMakeCache.txt.prev
gui/Makefile


**/petri-editor

program.generated.cpp
*.log